div.create-post-contents{
  background-image: url('./marble.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: calc(100vh - 120px);
  margin-top: 120px;
  padding: 20px 0;
}

#post-form-title{
  width: 100%;
  text-align: center;
  color: #004C59;
  padding: 10px 0;
  font-size: 28px;
  position: relative;
  justify-self: start;
}



.post-form{
  width: 600px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-image: url('./cuttingboard.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 20px;
}

div > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

div.ui.multiple.search.dropdown {
  width: 500px;
  border-radius: 15px;
  margin-top: 10px;
}

.title-input-div{
  position: relative;
  margin-top: 10px;
}


.post-form label {
  color: #004C59;
  font-size: 18px;
  margin-top: 10px;
}

input[type="file"] {
   background-color: #004C59;
   color: white;
   padding: 10px 15px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-family: inherit;
   border-radius: 15px;
   margin-top: 10px;
}

#test-video {
  height: 0;
  width: 0;
}

#file-size-error {
  color: red;
  font-size: 20px;
}

#post-title {
  width: 500px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  display: block;
  font-family: 'Nerko One', cursive;
  margin-top: 10px;
}

#post-title:focus{
  outline: none;
}

#submit-post{
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  background-color: #F68B38;
  font-family: inherit;
  margin-top: 15px;
}

.posting-error{
  position: absolute;
  top: -35px;
  color: red;
}