div.edit-post-contents{
  background-image: url('./marble.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 120px;
  padding: 20px 0 60px 0;
  height: 100vh;
}

.steps-input-div {
  width: 500px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.step-description-input, .step-minutes-input, .step-seconds-input {
  font-family: 'Nerko One', cursive;
  border: none;
  margin: 5px;
  margin-top: 15px;
  border-radius: 5px;
}

.step-description-input {
  flex-grow: 2;
  height: 25px;
}

.step-minutes-input, .step-seconds-input {
  width: 40px;
  height: 25px;
}

.step-minutes-input {
  margin-left: 0px;
}

.time-hyphen {
  color: white;
}

.remove-step-button, #add-step-button {
  border-radius: 5px;
  /* border: 1px solid #a8a8a8; */
  /* border-style: solid; */
  color: white;
  margin-top: 15px;
  background-color: #004C59;
}

.remove-step-button:hover, #add-step-button:hover {
  color: black;
  background-color: #bbb;
}

#edit-post {
  border-radius: 15px;
  outline: none;
  font: inherit;
  border: none;
  padding: 10px 15px;
  background-color: #F68B38;
  color: white;
}