div.post-show-wrapper{
  display: flex;
  justify-content: center;
  background-color: #496F75;
}

.post-container {
  margin-top: 150px;
  width: 1000px;
  padding: 50px;
}

.video-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  padding: 10px;
  color: white;
}

.show-title {
  font-size: 50px;
}

.left-side-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.left-side-header p {
  padding: 0px 5px;
}

.post-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-buttons button {
  display: inline-block;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  padding: 2px;
  margin: 2px;
  border: none;
  color: black;
  background-color: white;
}

.middle-show-section {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.show-video-container {
  background: transparent;
  position: relative;
  height: inherit;
  background-color: black;
  border: 1px solid white;
} 

.instructions-section {
  border: 1px solid white;
  border-left: none;
  width: 50%;
  height: inherit;
  overflow-y: scroll;
  color: white;
}

.instructions-header {
  text-align: center;
  font-size: 25px;
}

.instructions-body {
  padding: 10px;
}

#no-instructions-message {
  text-align: center;
}

.tags-section {
  border: solid white 1px;
  border-top: none;
  padding: 10px;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags-list li {
  padding: none;
  display: inline-block;
  word-break: break-all;
  max-width: 40%;
}

.tag-button {
  border: none;
  border-radius: 10px;
  margin: 5px;
  background-color: #E3E733;
}

.instructions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.instructions > button {
  margin-right: 15px;
  border-radius: 10px;
  border: none;
}

.profile-link {
  color: white;
}