.posts-list {
  width: 100%;
  padding-bottom: 30px;
}

.posts-content {
  padding-top: 120px;
  background-image: url('./marble.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;

}

.search-bars div.ui.multiple.search.dropdown {
  width: 100%;
  margin: 10px 0 20px 0;
  border: 1px solid #ebebeb;
}

.dropdown.icon {
  color: black;
}

.ui.selection.dropdown .menu>.item{
  width: 90%;
}

.search-bars {
  width: 20%;
  min-width: 200px;
  background: #F68B38;
  color:  #fff;
  max-height: 80vh;
  border-radius: 15px;
  padding: 15px;
  position: fixed;
  top: 185px;
  left: 20px;
  overflow-y: auto;
}

div.search-bars > h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

div.search-bars > label {
  color: white;
  font-size: 16px;
}


.posts-list > :nth-child(even) {
  background-color: #004C59
}


.posts-list > :nth-child(odd) {
  background-color: #669197
}

#saved-post-btn {
  position: fixed;
  font-family: inherit;
  font-size: 16px;
  width: 20%;
  min-width: 200px;
  height: 30px;
  top: 140px;
  left: 20px;
  background: #10AB89;
  color: white;
  border: none;
  border-radius: 10px;

}




