.posts-list {
  width: 100%;
  padding-top: 15px;
  /* margin-left: max(27%, 250px); */
}

.posts-content {
  margin-top: 120px;
  background-image: url('./marble.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background: white; */
}

.search-bars div.ui.multiple.search.dropdown {
  width: 100%;
  margin: 10px 0 20px 0;
  border: 1px solid #ebebeb;
}

.ui.selection.dropdown .menu>.item{
  width: 90%;
}

.search-bars {
  width: 20%;
  min-width: 200px;
  background: #F68B38;
  color:  #fff;
  max-height: 80vh;
  border-radius: 15px;
  padding: 15px;
  position: fixed;
  top: 160px;
  left: 20px;
  overflow-y: auto;
}

div.search-bars > h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

div.search-bars > label {
  color: white;
}


.posts-list > :nth-child(even) {
  background-color: #004C59
}


.posts-list > :nth-child(odd) {
  background-color: #669197
}

#saved-post-btn {
  position: fixed;
  font-family: inherit;
  font-size: 20px;
  width: 120px;
  height: 30px;
  top: 125px;
  left: max(7%, 55px);
  background: #496F75;
  color: white;
  border: none;
  border-radius: 10px;

}




