.post-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  width: 1000px;
  padding: 50px;
  background-image: linear-gradient(
    rgb(240, 128, 146), rgb(178, 252, 118));
}

.video-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  background-image: linear-gradient(to right,
   rgb(187, 99, 245), rgb(178, 252, 118), rgb(131, 105, 247));
}

.show-video-container {
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
}

.video-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timestamps-section {
  width: 50%;
  border: solid white 1px;
  border-right: none;
}

.timestamps-section p {
  text-align: center;
}

.tags-section {
  width: 50%;
  border: solid white 1px;
}

.tags-section p {
  text-align: center;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.tags-list li {
  padding: none;
  display: inline-block;
  word-break: break-all;
  max-width: 20%;
}

.tag-button {
  border: none;
  margin: 5px;
}