h2.comments-header{
  font-size: 30px;
  color: white;
}

div.comments-section{
  margin-top: 40px;
}
ul.comment-list{
  width: 50%;
}

li.comment-info {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin: 20px 0;
  min-height: 60px;
  padding: 5px;
  background: whitesmoke;
  border: 1px solid white;
  border-radius: 15px;
}

.comment-author-and-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.comment-delete{
  border: black 1px solid;
  border-radius: 15px;
  background: black;
  color: white;
  font-size: 12px;
}

textarea.comment-bod{
  display: block;
  width: 50%;
  height: 50px;
  font-family: inherit;
  outline: none;
}

.add-comment-label {
  color: white;
}

.add-comment > input[type="submit"] {
  margin-top: 15px;
  font-family: inherit;
  color: black;
  background-color: white;
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 80px;
}



