.saved-content{
  margin-top: 120px;
  background-image: url('./cuttingboard.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.saved-content ul.posts-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.saved-content div.vedio-border{
  margin: 25px auto; 
  width: 45%; 
  background-color: #496F75;
}

.saved-content ul.posts-list.vertical{
  flex-direction: column;
}

ul.posts-list.vertical > div.vedio-border{
  margin-left: 10%;
}

.saved-content > h1 {
  padding-left: 5%;
  font-size: 40px;
  background: #004C59;
  color: white;
  height: 60px;
}

