.navbar {
  width: 100%;
  /* background-color: rgb(51, 128, 70); */
  padding: 1%;
  /* background-image: url(''); */
}
 
.left {
    display:flex;
    
}

.nav-right {
    display:flex;
    justify-content: flex-end;
}