.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #004C59;
}

.navbar h1 {
  font-size: 40px;
  text-align: center;
  left: calc(50% - 70px);
  letter-spacing: 0.5px;
}


.nav-right {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max(310px, 33.333%);
  position: relative;
}

.right-buttons {
  display: flex;
  justify-content: space-evenly;
}

#brand {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 800;
  font-size: 52px;
  letter-spacing: 3px;
}

#brand > a {
  color: #E3E733;
  font-family: "Nerko One", cursive;
}

.navbar-btn {
  padding: 0 10px;
  height: 40px;
  border-radius: 34px;
  border: 0px;
 
  color: #ffffff;
  font-size: 18px;
}

.navbar-btn:focus {
  outline: none;
}


#logout {
  background-color: #efefef;
  color: #496F75;
  font-size: 16px;
  width: 100px;
}

p.errors-body{
  color: rgb(248, 6, 6);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-username {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;

}

.add-post {
  background-color: #10AB89;
  color: white;
  border-radius: 20px;
  padding: 9px 10px 0 10px;
  font-size: 16px;
}

.add-post > svg {
  margin-left: 8px;
}

.add-post:hover{
  color: white;
}

.other-btn {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  font-size: 22px;
  color: #10AB89;
  border-radius: 15px;
  
  text-align: center;
}

.gh-link {
  font-size: 30px;
}

.about {
  margin-top: 40px;
}

.source-link, .contact-link {
  text-align: center;
  width: 100px;
  color: white;
}

.source-link > p, .contact-link > p {
  padding-top: 5px;
}

.source-link:hover, .source-link:hover svg {
  cursor: pointer;
  color: #10AB89;
}

.contact-link:hover, .contact-link:hover svg{
  cursor: pointer;
  color: #10AB89;
}

