.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #004C59;
}

.navbar h1 {
  font-size: 40px;
  text-align: center;
  left: calc(50% - 70px);
  letter-spacing: 0.5px;
}

.left {
  display: flex;
}

.nav-right {
  display: flex;
  justify-content: center;
  float: right;
  padding: 1%;
  align-items: center;
}

#brand {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 3px;
}

#brand > a {
  color: #E3E733;
}

.navbar-btn {
  width: 150px;
  height: 40px;
  border-radius: 34px;
  border: 0px;
  margin: 25px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
}

.navbar-btn:focus {
  outline: none;
}

#signup,
#logout {
  background-color: #efefef;
  color: #496F75;
  font-size: 20px;
  width: 90px;
}

p.errors-body{
  color: yellow;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-username {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: #fff;
}

.add-post {
  color: purple;
  margin-left: 25px;
}

.other-btn {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 200;
  font-size: 40px;
  color: rgb(248, 6, 6);
  /* background-image: linear-gradient(to bottom right, yellow, red); */
  /* border-radius: 50px; */
  text-align: center;
}

.gh-link {
  font-size: 30px;
  margin-left: 25px;
}

.about {
  margin-top: 40px;
}