.contact-pg {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #496F75;
  padding-bottom: 60px;
}

.contact-header {
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  margin: 30px auto 0 auto;
  color: white;
  padding: 5px 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: -10px;
}

.contact {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  border-left: 40px solid;
  border-bottom: 40px solid;
  box-shadow: 0px 0px 10px 1px grey;
  overflow: hidden;
  background-color: white;
}

.contact img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.contact .contact-info {
  margin-left: 15px;
  flex-direction: column;
}

.contact-label {
  font-weight: 700;
  font-size: 21px;
}

.contact-position {
  font-size: 21px;
}

.contact-links {
  margin-top: 5px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  height: 20px;
}

.contact-git:hover {
  transition: 0.5s;
  transform: scale(1.5);
  color: grey;
}

.contact-linkedin:hover {
  transition: 0.5s;
  transform: scale(1.5);
  color: blue;
}
