.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  /* transition: opacity .2s ease; */
}

.modal-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 3px 12px 7px rgba(0, 0, 0, 0.8);

}

.session-error {
  color: red;
  font-size: 14px;
  position: absolute;
  width: 450px;
  top: 70px;
  left: -10px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
}

.username,
.password,
.password2,
.email {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  color: #004c59;
  font-size: 24px;
  font-family: "Nerko One", cursive;
  letter-spacing: 3px;
}

.login-wrapper {
  background: white;
  height: 300px;
  width: 500px;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
  height: 100%;
}

.signup-wrapper,
.login-wrapper {
  background: white;
  height: 500px;
  width: 500px;
  border-radius: 16px;
  /* background-image: linear-gradient(
    to bottom right,
    rgb(156, 156, 226),
    rgb(107, 107, 198),
    rgb(67, 57, 207),
    rgb(177, 146, 218),
    rgb(214, 21, 214),
    violet
  ); */
}

.signup-wrapper {
  height: 700px;
}

#signup-email,
#signup-username,
#signup-password,
#signup-password2,
#login-username,
#login-password {
  height: 40px;

  border-radius: 12px;
  border: 2px solid #496F75;
  /* color: rgb(28, 138, 201); */
  font-family: "Nerko One", cursive;
}

label {
  margin: 8px;
}

#signup-email:focus,
#signup-username:focus,
#login-username:focus,
#login-password:focus,
#signup-password:focus,
#signup-password2:focus {
  outline: none;
  box-shadow: 0 0 4pt 4pt #c2f038;
}

.session-btn {
  width: 250px;
  height: 40px;
  border-radius: 34px;
  border: 0px;
  margin: 25px;
  font-family: "Nerko One", cursive;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
  color: white;
  background-color:#F06241;
}

.session-btn:focus {
  outline: none;
}

.menutube {
  font-family: "Nerko One", cursive;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 3px;
  color: #F06241;
}
