.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.username,
.password,
.password2,
.email {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 320px;
  color: #004c59;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 5px;

  /* margin-bottom: 5px; */
}

.login-wrapper {
  height: 600px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding:40px 0;
  height: 100%;
  border-radius: 34px;
  background-image: url('./marble.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#login-form > h1 {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}

.signup-wrapper,
.login-wrapper {
  height: 650px;
  width: 500px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline:none;

}

.login-wrapper {
  height: 600px;
}

#signup-email,
#signup-username,
#signup-password,
#signup-password2,
#login-username,
#login-password {
  height: 50px;
  width: 320px;
  border-radius: 12px;
  border: 2px solid #d3d3d3;
  background-color: #efefef;
  text-indent: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.password {
  margin-bottom: 15px;
}


label {
  text-align: start;
  font-size: 18px;
  letter-spacing: 1px;
}

#signup-email:focus,
#signup-username:focus,
#login-username:focus,
#login-password:focus,
#signup-password:focus,
#signup-password2:focus {
  outline: none; 
  box-shadow: 0 0 2pt 2pt #85F22B;
}

.session-btn, .session-btn2 {
  width: 320px;
  height: 45px;
  border-radius: 34px;
  border: 0px;
  margin: 7px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3px;
  color: white;
  background-color:#026172;
  
}

.session-btn2 {
   background-color: #026172;
   margin: 10px 0;
}

.session-btn3 {
  margin-bottom: 30px;
}


.session-btn:focus, .session-btn2:focus {
  outline: none;
}

.menutube {
  font-family: "Nerko One", cursive;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 3px;
  color: #F68B38;
  margin: 0px 40px 10px 40px;

}

.footer-login {
  font-size: 22px;
  margin-top: 45px;
}

