.profile-test-img {
  width: "100px";
  height: "100px";
  border-radius: "80px";
  border-bottom: "1px solid grey";
}

.users-save {
  display: "flex";
  justify-content: "space-between";
  width: "100%";
}

.user-post-container {
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "space-around";
}

.profile-container {
  max-width: "550px";
  margin: "0px";
  margin-top: 200px;
  align-content: center;
  background-image: linear-gradient(
    to right,
    rgb(187, 99, 245),
    rgb(178, 252, 118),
    rgb(131, 105, 247)
  );
  margin-left: 5%;
  margin-right: 5%;
}

.item {
  width: 30%;
  margin: 10px;
}

.user-posts {
  display: flex;
  flex-direction: column;
}
