.video-container {
  height: 300px;
  width: 400px;
  background: transparent;
  padding: none;
  position: relative;
}

.playing-overlay {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: transparent;
}

.playing-overlay:hover {
  transform: scale(1);
  opacity: 1;
}

.save-btn {
  height: 20px;
  width: 20px;
}

.paused-overlay {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  text-align: center;
}

.react-player {
  height: 300px;
  width: 400px;
  position: absolute;
  /* top: 0; */
  /* z-index: 20; */
}

div {
  margin: 0;
  padding: 0;
}
