.video-container{
  height: 100%;
  width: 100%;
}

.dragvideo-wrapper {
  width: 470px;
  height: 350px;
  background: transparent;
  position: relative;
}

.vedio-border{
  width: 50%;
  margin: 25px 0 25px max(30%, 230px);
  
  padding: 20px;

  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.vedio-border.vertical{
  flex-direction: column;
  width: 35%;
  margin-left: max(230px, 25%);
}

.vedio-border.vertical > .dragvideo-wrapper{
  width: 100%;
}

.vedio-border.vertical #labels{
  padding-top: 15px;
  margin: 0;
}

.vedio-border.vertical #username {
  margin-bottom: 10px;
}


.playing-overlay {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: transparent;
  outline:none;
  border: 10px solid #fff;
  border-radius: 16px;
  
}

.playing-overlay:hover {
  transform: scale(1);
  opacity: 1;
  
}
.save-btn {
    background-color: #ddeb63;
    width: 125px;
    padding: 10px;
    border: none;
    font-size: 22px;
    font-weight: 400;
    color: #111111;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.save-btn:focus{
  outline: none;
}


.paused-overlay {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 50px;
  z-index: 10;
  text-align: center;
  border: 10px solid #fff;
  border-radius: 16px;

}

.react-player {
  height: inherit;
  width: inherit;
  position: absolute;
  
  
  /* top: 0; */
  /* z-index: 20; */
}

div {
  margin: 0;
  padding: 0;
}

#labels {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  
  /* background-image: linear-gradient(rgba(243, 165, 165, 0),rgb(96, 65, 236), rgba(236, 27, 97, 0) ); */
}

#title {
  display: flex;
  flex-direction: column;  
  font-size: 40px;
  font-family: 'Nerko One', cursive;  font-weight: 900;
  color:#fff;
  letter-spacing: 3px;
}

#title:hover{
  color: #ddeb63;
}

#username {
  margin-bottom: 50px;
  margin-top: 15px;
  font-size: 18px;
  color: white;
}

