/* .splash-gifs {
  width: 450px;
  height: 220px;
  margin: 0;
  justify-content: center;
  border-radius: 15px;
} */

/* .signup-btn {
  background-color: transparent;
  cursor: pointer;
  font-size: 45px;
  border: none;
} */

/* .middle-text > h1 {
  font-size: 100px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
} */
/* 
.bg-gif {
  border-radius: 15px;
} */

/* .text-box {
  display: flex;
  align-items: flex-end;
} */
/* .layer3 {
  background-image: url("https://i.pinimg.com/originals/1b/f1/fc/1bf1fcfeb909e3cf9cc0a465ccf7f3d4.gif");
  margin-top: 10%;
  max-height: 25%;
  max-width: 25%;
  margin-left: 20%;
  opacity: 12%;
  border-radius: 25px;
} */

/* #splash-signup {
  background-image: transparent;
  border-radius: 15px;
  border: 1px solid grey;
}

#splash-signup:hover {
  background-color: rgb(177, 146, 218);
  opacity: 40%;
}

.splash-session-btn {
  height: 85px;
  font-size: 40px;
  width: 400px;
} */

.splash-pg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: #004c59;
  /* background-color: #f79050; */
  height: calc(100vh - 120px);
}

.splash-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 35px;
  padding-bottom: 70px;
}

.splash-img {
  object-fit: scale-down;
  width: 250px;
  height: 250px;
  background-color: #f47322;

  border-radius: 300px;
}

.splash-img-bg {
  /* background-image: radial-gradient(red 70%, yellow 30%); */
  /* padding: 100px; */
  border-radius: 50%;

  /* width: 500px;
  height: 500px; */
}
.splash-intro {
  /* margin-left: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  position: relative;
}

.splash-intro h1 {
  font-size: 2em;
  color: #e3e733;
  letter-spacing: 10px;
}

.splash-desc {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  line-height: 1.7;
  width: 600px;
}

.splash-text, .splash-text2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}


.splash-text2 {
  font-size: 20px;
}

@keyframes switch{
  30% {opacity: 0}
  50% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
}


.version-b {
  opacity: 0;
  position: absolute;
  bottom: 77px;
  animation: switch 15s infinite;
  background: #004c59;
}

.splash-signup-btn {
  background-color: #85f22b;
  border-radius: 8px;
  color: black;
  margin: 0 15px;
  border-color: none;
  padding: 6px;
  font-size: 24px;
  width: 120px;
}

.splash-span-signup {
  background-color: "transparent";
  display: flex;
  justify-content: center;
  align-items: center;
}

#menutube {
  text-align: center;
}




