/*CSS for testing purposes*/

div.slot {
  border: 3px solid gray;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

div.slot > button {
  position: absolute;
  top: 0;
  left: 0;
  z-index:20;
}

#cal-checkbox{
  position: fixed;
  right: 180px;
  top: 85px;
  z-index: 120;
  outline: none;
  border: 0;
  background: red;
  color: yellow;
  border-radius: 15px;
}

ul.calendar {
  width: 500px;
  padding-left: 55px
}

ul.calendar > li {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.dayname{
  width: 100px;
  font-size: 30px;
  padding-left: 15px;
}

div.slots{
  display: flex;
}


.calendar-wrapper {
  position: fixed;
  background: url('./fridge.png');
  background-size: auto;
  animation: slide 2s 1;
  
  background-repeat: no-repeat;
  background-position-x: -5em;
  background-position-y: -3rem;
  right: 0;
  top: 120px;
  width: 500px;
  padding: 20px 0;
  z-index: 5;
  
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
}

@keyframes slide {
  0% {transform: translateX(500px);}
  100% {transform: translateX(0px);}
}






div.slot > figure:first-child{
  object-fit: cover;
  object-position: center;
}

figure {
  width: 600px;
  height: 450px;
  padding: 0;
}


