/*CSS for testing purposes*/

div.slot {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  position: relative;
}

div.slot:drop {
  border-width: 5px;
}

div.slot > button {
  position: absolute;
  top: 0;
  left: 0;
  z-index:20;
}

ul.calendar {
  width: 500px;
}

li {
  display: flex;
  width: 500px;
  justify-content: space-between;

}

.dayname{
  width: 100px;
}

div.slots{
  display: flex;
}

.ui.overlay.left.visible.sidebar {
  width: 900px;
  height: 900px;
}

.ui.segment.pushable {
  height: 900px;
}

.ui.grid{
  margin-top: 0;
}

.ui.segment{
  width: 600px;
  border: none;
  box-shadow: none;
}

.ui.one.column.grid{
  position: fixed;
}

.calendar-wrapper {
  background: #ebebeb;
  padding: 20px 0;
}

